<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="../index" class="link-info">Game</a>
    &nbsp; &nbsp; &nbsp;
    <a href="allProfile" class="link-info">All Profiles</a>
    <h1>my profile</h1>

    {{#if user}}

    <h4>avatar : <img src="https://joeschmoe.io/api/v1/{{user.name}}" height="123"> </h4>
    <h4>name : {{user.name}}</h4>
    <h4>email : {{{user.email}}};</h4>
    <h4>bio : {{user.bio}}</h4>
    <h4>age : {{user.age}}</h4>
    <h4>School : {{user.school}}</h4>
    <h4>No of Words Explored : {{user.Score}}</h4>
    &nbsp; &nbsp; &nbsp;
    <a href="updateProfile" class="link-info">Update Profile</a>
    {{else}}
    <h4> Please login to view profile</h4>
    {{/if}}

</body>

</html>